#cards
{
    
    display: flex;
    margin-top: 30px ;
    justify-content: center;
    flex-wrap:wrap;

   
}

.card
{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}